#dashboard.uk-offcanvas{'uk-offcanvas' => 'mode: push; overlay: true'}
  .uk-offcanvas-bar
    %button.uk-offcanvas-close{:type=>'button', 'uk-close'=>true}
    %h3 Dashboard
    - if !user_signed_in?
      %p Hi, and welcome to Flight Chord! Please sign in to get started:
      %hr
      = render 'shared/login'
    - else
      = render 'shared/navigation'