.uk-navbar.uk-navbar-container
  .uk-navbar-left
    %a.uk-navbar-toggle{:href => '#dashboard', 'uk-navbar-toggle-icon' => true, 'uk-toggle' => true}
    %a.uk-navbar-item.uk-logo{:href=>'/'} FlightChord
