.uk-navbar.uk-navbar-container
  .uk-navbar-left
    %a.uk-navbar-toggle{:href => '#navigation', 'uk-navbar-toggle-icon' => true, 'uk-toggle' => true}
    %a.uk-navbar-item.uk-logo{:href=>'/'} FlightChord
  .uk-navbar-right.uk-margin-right
    %a{:href => '#dashboard', 'uk-icon' => 'icon: user', 'uk-toggle' => true}
