%h1 Listing endorsements

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @endorsements.each do |endorsement|
      %tr
        %td= link_to 'Show', endorsement
        %td= link_to 'Edit', edit_endorsement_path(endorsement)
        %td= link_to 'Destroy', endorsement, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Endorsement', new_endorsement_path
